body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lexend-deca: "Lexend Deca";
  --font-megrim: Megrim;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;

  /* border radiuses */
  --br-16xl: 35px;
  --br-5xl: 24px;
  --br-3xs: 10px;
}
